[![AnalyticsDojo](../fig/final-logo.png)](http://rpi.analyticsdojo.com)
<center><h1>Introduction to Python - Groupby</h1></center>
<center><h3><a href = 'http://rpi.analyticsdojo.com'>rpi.analyticsdojo.com</a></h3></center>

In [1]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("../input/train.csv")
test  = pd.read_csv("../input/test.csv")

In [2]:
?np.sin()h

### Groupby
- Often it is useful to see statistics by different classes.
- Can be used to examine different subpopulations

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(train.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
#What does this tell us?  
train.groupby(['Sex']).Survived.mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [16]:
#What does this tell us?  
train.groupby(['Sex','Pclass']).Survived.mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

In [5]:
#What does this tell us?  Here it doesn't look so clear. We could separate by set age ranges.
train.groupby(['Sex','Age']).Survived.mean()

Sex     Age
female  0.75     1.000000
        1.00     1.000000
        2.00     0.333333
        3.00     0.500000
        4.00     1.000000
        5.00     1.000000
        6.00     0.500000
        7.00     1.000000
        8.00     0.500000
        9.00     0.000000
        10.00    0.000000
        11.00    0.000000
        13.00    1.000000
        14.00    0.750000
        14.50    0.000000
        15.00    1.000000
        16.00    0.833333
        17.00    0.833333
        18.00    0.615385
        19.00    1.000000
        20.00    0.000000
        21.00    0.571429
        22.00    0.833333
        23.00    0.800000
        24.00    0.875000
        25.00    0.400000
        26.00    0.600000
        27.00    0.833333
        28.00    0.714286
        29.00    0.714286
                   ...
male    42.00    0.300000
        43.00    0.000000
        44.00    0.166667
        45.00    0.333333
        45.50    0.000000
        46.00    0.000000
        47.00    0.000000
        48.00    0.600000
        49.00    0.500000
        50.00    0.200000
        51.00    0.166667
        52.00    0.250000
        54.00    0.000000
        55.00    0.000000
        55.50    0.000000
        56.00    0.333333
        57.00    0.000000
        58.00    0.000000
        59.00    0.000000
        60.00    0.333333
        61.00    0.000000
        62.00    0.333333
        64.00    0.000000
        65.00    0.000000
        66.00    0.000000
        70.00    0.000000
        70.50    0.000000
        71.00    0.000000
        74.00    0.000000
        80.00    1.000000
Name: Survived, Length: 145, dtype: float64

### Combining Multiple 
- *Splitting* the data into groups based on some criteria
- *Applying* a function to each group independently
- *Combining* the results into a data structure

In [14]:
s = train.groupby(['Sex','Pclass'], as_index=False).Survived.sum()
s['PerSurv'] = train.groupby(['Sex','Pclass'], as_index=False).Survived.mean().Survived
s['PerSurv']=s['PerSurv']*100
s['Count'] = train.groupby(['Sex','Pclass'], as_index=False).Survived.count().Survived
survived =s.Survived
type(survived)

pandas.core.series.Series

In [48]:
#What does this tell us?  
spmean=train.groupby(['Sex','Pclass']).Survived.mean()
spcount=train.groupby(['Sex','Pclass']).Survived.sum()
spsum=train.groupby(['Sex','Pclass']).Survived.count()

In [49]:
spmean

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64