## Introduction to Python Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

In [9]:
NAME = "Ying Guo"
COLLABORATORS = ""  #You can speak with others regarding the assignment, but all typed work must be your own.

 
**If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

## Exercises - For and If.

(1). Write a for loop which create a list called `fivetoten` of all numbers from 5 to 10 (inclusive).

In [50]:
#Answer question 1 here.
fivetoten=[]
for i in range(5,11):
    fivetoten.append(i)
print (fivetoten)

[5, 6, 7, 8, 9, 10]

(2). Write a program which uses a for loop and if statements to create a list called `divby7` of all numbers from 1-50 that are divisible by 7.
Hint: 14 is divisible by 7 if 14%7==0.

In [11]:
#Answer question 2 here.
divby7=[]
for i in range(1,50):
    if i % 7==0:
        divby7.append(i)
print (divby7)

[7, 14, 21, 28, 35, 42, 49]

(3). Write a program which uses a for loop and if statements create a list `divby7not5` of all numbers which are divisible by 7 but are not a multiple of 5, between 10000 and 10100 (both included).

In [12]:
#Answer question 3 here.
divby7not5=[]
for i in range(10000,10100):
    if (i % 7==0) & (i %5 !=0):
        divby7not5.append(i)
print(divby7not5)

[10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094]

## Exercises - Functions

(4). Create a function `divby2` that accepts a list and returns all values from that list that are divisible by 2.  For example, passing the list  `numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]` should return a list. Generate a new list `divby2` that includes only numbers that are divisible by 2.

In [13]:
#Define your function for question (4) here.

In [14]:
#Execute this code to assign divby2 to the correct values. 
numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]
def divby2(numbers):
    outcome=[]
    for i in numbers:
        if i % 2==0:
            outcome.append(i)
    return outcome


divby2=divby2(numbers)
print(divby2)

[12, 34, 54, 34, 34, 54]

(5) Create an external module for your `divby2` function called `myutilities.py`.  Import myutilities as mu, such that that following runs.

In [33]:
#After importing this should work. 
#Add code to re-import the module using the example in class
import myutilities as mu
divby2mod=mu.divby2(numbers)
print (divby2mod)

[12, 34, 54, 34, 34, 54]

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [1]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("./input/train.csv")
test  = pd.read_csv("./input/test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S



(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our test data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival. <br>Create columns in the training dataset `PredEveryoneDies` and `PredGender` with the same predictions which were included in the example notebook (06-intro-kaggle-baseline in the materials repository).

In [2]:
#Answer
train['PredEveryoneDies']=0
train.loc[train['Sex'] == 'male', 'PredGender'] = 0
train.loc[train['Sex'] == 'female', 'PredGender'] = 1
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.0

### YOU CAN DO THIS!
- For the next question we have to combine a few bits of data. For the first time we will be connecting multiple operations.   
- First, you should find out the mathematical definition for accuracy. OK, here is a [link](https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification). 
- Next, consider how you would program accuracy? 
- Next, try it with some sample data where you know the answer. I've created that below.
- Next, hand calculate the accuracy for the sample data.
- Next, programatically find the accuracy for the sample data.  How might you do this using the tools that you have?  (a) create a new column where for the Training set `Survived==PredEveryoneDies` it equals 1 if true and 0 if false. (b) Sum the number of 1s and (c)  divide by the total number of records in the training set.  
- Finally, turn your calculations of accuracy into a function so you can reuse it in the next step.

In [3]:

example_data = [{'predicted': 1, 'actual': 1},
         {'predicted': 1,  'actual': 0},
         {'predicted': 0,  'actual': 1},
         {'predicted': 0,  'actual': 0}]
#What should 
df = pd.DataFrame(example_data)
df

   actual  predicted
0       1          1
1       0          1
2       1          0
3       0          0

(7) Use your function to create varaibles `AccEveryoneDies` and `AccGender`.  `AccEveryoneDies` should be the accuracy of the EveryoneDies model in the Train dataset. Similarly, `AccGender` is the a accuracy of the Gender (women survive) model in the Train dataset.

In [4]:
#Answer question 7 here.

compare=[]
for i in range (len(train)):
    if train.loc[i,'PredEveryoneDies']==train.loc[i,'Survived']:
        compare.append(i)
AccEveryoneDies=len(compare)/len(train)*100
print (AccEveryoneDies)

compare2=[]
for i in range (len(train)):
    if train.loc[i,'PredGender']==train.loc[i,'Survived']:
        compare2.append(i)
AccGender=len(compare2)/len(train)*100
print (AccGender)

61.61616161616161
78.67564534231201

(8). Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename and writes out the submission file with just the `passengerID` and the `Survived` columns, where the survived column is equal to the target column. It should then return a DataFrame with the `passengerID` and the `Survived` columns.

Executeing the following:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.  

Create a prediction file for the "PredEveryoneDies" model using the test dataset and upload it to Kaggle.  Put that screenshot in this repository of what happens. Sometimes Kaggle won't give you a score if the exact same file has been submitted by someone else.  Don't worry about that. 

The syntax for including a markdown picture is shown below. 

```
![]myscreenshot.png
```

You will have to change the cell type to a markdown cell below.

In [10]:
def generate_submission(dataframe,target,filename):
    outcome = dataframe.loc[:,['PassengerId', target]]
    outcome.columns = ['PassengerId', 'Survived']
    outcome.to_csv(filename, index=False)
    return outcome

test['PredEveryoneDies']=0
submitdie=generate_submission(test, 'PredEveryoneDies', 'submiteveryonedies.csv')


![](1.png)


(9). In our initial calculation of the `PredGender` column, we made our prediction based on whether the individual was male or female.  In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender. We also have a question, what age to use to determine "child"? (People weren't likely to check for IDs.)  We will check 2 ages...<13 and <18 (somewhat arbitrary but have to start somewhere) and see which yields a better accuracy. <br>

*After* coding survival based on gender, update your recommendation to prediction in the training dataset survival based on *age.* In other words, your model should predict that a male child would survive. If you first code for age and then code by gender, the prediction will be off. <br> 

Specifically:

`train['PredGenderAge13']` should be the prediction incorporating both Gender and whether Age < 13 (i.e., <13 survived while >=13 died)  <br>
`train['PredGenderAge18']` should be the prediction incorporating both Gender and whether Age < 18 (i.e., <18 survived while >=18 died).

In [46]:
#Complete requirements for #9 here.
train["PredGenderAge13"] = 0
train.loc[train['Sex'] == 'male', 'PredGenderAge13'] = 0
train.loc[train['Sex'] == 'female', 'PredGenderAge13'] = 1
train.loc[train['Age'] < 13, 'PredGenderAge13'] = 1

train.head()

train["PredGenderAge18"] = 0
train.loc[train['Sex'] == 'male', 'PredGenderAge18'] = 0
train.loc[train['Sex'] == 'female', 'PredGenderAge18'] = 1
train.loc[train['Age'] < 18, 'PredGenderAge18'] = 1

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredGender,PredEveryoneDies,PredGenderAge13,PredGenderAge18
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.0,0,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,0,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.0,0,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.0,0,0,0

(10). Calculate the accuracy for your new predictions.  Use `PredGenderAge13` in the training set to calculate `AccGenderAge13` (you can use your function again!) and `PredGenderAge18` to calcuate `AccGenderAge18`.

In [47]:
#complete #10 here.

compare3=[]
for i in range (len(train)):
    if train.loc[i,'PredGenderAge13']==train.loc[i,'Survived']:
        compare3.append(i)
AccGenderAge13=len(compare3)/len(train)*100
print (AccGenderAge13)

compare4=[]
for i in range (len(train)):
    if train.loc[i,'PredGenderAge18']==train.loc[i,'Survived']:
        compare4.append(i)
AccGenderAge18=len(compare4)/len(train)*100
print (AccGenderAge18)

79.2368125701459
77.32884399551067

(11). You should find that the `AccGenderAge13` is better (has a higher accuracy) than `AccGenderAge18`. Create a new column `child` in the `test` and `train` DataFrames that is 1 if `Age < 13` and `0` otherwise. This is a feature. We will talk more about features next time.

In [52]:
#complete #11 here.

train.loc[train['Age'] <13, 'child'] = 1
train.loc[train['Age'] >=13 , 'child'] = 0
train.head()

test.loc[test['Age'] <13, 'child'] = 1
test.loc[test['Age'] >=13 , 'child'] = 0
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,child
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0.0

(12). Create a prediction file for the "women and children first" model in using the test dataset and upload it to Kaggle. Go through the process of uploading it to Kaggle. Put that screenshot in this repository of what happens. Sometimes Kaggle won't give you a score if the exact same file has been submitted by someone else.  Don't worry about that.  The syntax for including a markdown picture is shown below.  

```
![]myscreenshot.png
```

You will have to change the cell type to a markdown cell below.

![](2.png)
![](3.png)

### (13) How would you compare the final "women and children" first model with the initial baseline mode ("everyone died)" ?  
Include change in accruacy and how you would interpret this intial analysis.

In [26]:
#complete #13 here.

## Final Tests
- These final tests will confirm you did exercises correctly. 
- First you need to install the ipython_unittest package 
- Then you load the extensions.
- Then you run the tests.  
- Try to work through the exercises, inspecting your own results.  Then confirm with the tests.

In [27]:
!conda install -c conda-forge ipython_unittest --yes

Error processing line 1 of /anaconda3/lib/python3.6/site-packages/matplotlib-2.2.2-py3.6-nspkg.pth:

  Traceback (most recent call last):
    File "/anaconda3/lib/python3.6/site.py", line 168, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Solving environment: done

# All requested packages already installed.

In [28]:
%load_ext ipython_unittest

#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

The ipython_unittest extension is already loaded. To reload it, use:
  %reload_ext ipython_unittest

### Run the cells below before submission.

In [53]:
%%unittest_main
class TestExercise3(unittest.TestCase):
    def test_forif1(self):
        self.assertTrue(fivetoten == [5,6,7,8,9,10])
    def test_forif2(self):
        self.assertTrue(divby7 == [7,14,21,28,35,42,49])
    def test_forif(self):
        self.assertTrue(divby7not5 == [10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094])
    def test_functions(self):
        self.assertTrue(divby2 == [12, 34, 54, 34, 34, 54])
    def test_functions(self):
        self.assertTrue(divby2mod == [12, 34, 54, 34, 34, 54])
    def test_titanic1(self):
        self.assertAlmostEqual(AccEveryoneDies, 61.6161616162)
    def test_titanic2(self):
        self.assertAlmostEqual(AccGender, 78.6756453423)
    def test_titanic3(self):
        self.assertAlmostEqual(train['PredEveryoneDies'].mean(), 0.0)
    def test_titanic4(self):
        self.assertAlmostEqual(train['PredGender'].mean(), 0.35241301908)
    def test_titanic5(self):
        self.assertTrue(['PassengerId', 'Survived']==list(pd.read_csv('submiteveryonedies.csv').columns.values))
    def test_titanic6(self):
        self.assertAlmostEqual(train['PredGenderAge13'].mean(), 0.393939393939)
    def test_titanic7(self):
        self.assertAlmostEqual(train['PredGenderAge18'].mean(), 0.417508417508)
    def test_titanic8(self):
        self.assertAlmostEqual(AccGenderAge13, 79.2368125701)
    def test_titanic9(self):
        self.assertAlmostEqual(AccGenderAge18, 77.3288439955)
    def test_titanic10(self):
        self.assertTrue(train['child'].sum()==69)
    def test_titanic11(self):
        self.assertTrue(test['child'].sum()==25)

Success

...............
----------------------------------------------------------------------
Ran 15 tests in 0.006s

OK

In [ ]:
#This is a collection of all of the tests from the exercises above.