[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://www.analyticsdojo.com)
<center><h1>Introduction to R - Titanic Baseline </h1></center>
<center><h3><a href = 'http://rpi.analyticsdojo.com'>rpi.analyticsdojo.com</a></h3></center>

## Running Code using Kaggle Notebooks
- Kaggle utilizes Docker to create a fully functional environment for hosting competitions in data science.
- You could download/run kaggle/python docker image from [GitHub](https://github.com/kaggle/docker-python) and run it as an alternative to the standard Jupyter Stack for Data Science we have been using.
- Kaggle has created an incredible resource for learning analytics.  You can view a number of *toy* examples that can be used to understand data science and also compete in real problems faced by top companies.

In [1]:
train <- read.csv('../input/train.csv', stringsAsFactors = F)
test  <- read.csv('../input/test.csv', stringsAsFactors = F)

## `train` and `test` set on Kaggle
- The `train` file contains a wide variety of information that might be useful in understanding whether they survived or not. It also includes a record as to whether they survived or not.
- The `test` file contains all of the columns of the first file except whether they survived. Our goal is to predict whether the individuals survived.

In [2]:
head(train)

  PassengerId Survived Pclass
1           1        0      3
2           2        1      1
3           3        1      3
4           4        1      1
5           5        0      3
6           6        0      3
                                                 Name    Sex Age SibSp Parch
1                             Braund, Mr. Owen Harris   male  22     1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female  38     1     0
3                              Heikkinen, Miss. Laina female  26     0     0
4        Futrelle, Mrs. Jacques Heath (Lily May Peel) female  35     1     0
5                            Allen, Mr. William Henry   male  35     0     0
6                                    Moran, Mr. James   male  NA     0     0
            Ticket    Fare Cabin Embarked
1        A/5 21171  7.2500              S
2         PC 17599 71.2833   C85        C
3 STON/O2. 3101282  7.9250              S
4           113803 53.1000  C123        S
5           373450  8.0500              S
6           330877  8.4583              Q

In [3]:
head(test)

  PassengerId Pclass Name                                         Sex    Age
1 892         3      Kelly, Mr. James                             male   34.5
2 893         3      Wilkes, Mrs. James (Ellen Needs)             female 47.0
3 894         2      Myles, Mr. Thomas Francis                    male   62.0
4 895         3      Wirz, Mr. Albert                             male   27.0
5 896         3      Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6 897         3      Svensson, Mr. Johan Cervin                   male   14.0
  SibSp Parch Ticket  Fare    Cabin Embarked
1 0     0     330911   7.8292       Q
2 1     0     363272   7.0000       S
3 0     0     240276   9.6875       Q
4 0     0     315154   8.6625       S
5 1     1     3101298 12.2875       S
6 0     0     7538     9.2250       S

## Baseline Model: No Survivors
- The Titanic problem is one of classification, and often the simplest baseline of all 0/1 is an appropriate baseline.
- Even if you aren't familiar with the history of the tragedy, by checking out the [Wikipedia Page](https://en.wikipedia.org/wiki/RMS_Titanic) we can quickly see that the majority of people (68%) died.
- As a result, our baseline model will be for no survivors.

In [4]:
test["Survived"] <- 0

In [5]:
submission <- test[,c("PassengerId", "Survived")]

In [6]:
head(submission)

  PassengerId Survived
1         892        0
2         893        0
3         894        0
4         895        0
5         896        0
6         897        0

In [7]:
# Write the solution to file
write.csv(submission, file = 'nosurvivors.csv', row.names = F)

## The First Rule of Shipwrecks
- You may have seen it in a movie or read it in a novel, but [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) has at it's roots something that could provide our first model.
- Now let's recode the `Survived` column based on whether was a man or a woman.  
- We are using conditionals to *select* rows of interest (for example, where test['Sex'] == 'male') and recoding appropriate columns.

In [8]:
#Here we can code it as Survived, but if we do so we will overwrite our other prediction. 
#Instead, let's code it as PredGender

test[test$Sex == "male", "PredGender"] <- 0
test[test$Sex == "female", "PredGender"] <- 1

In [9]:
submission = test[,c("PassengerId", "PredGender")]
#This will Rename the survived column
names(submission)[2] <- "Survived"
head(submission)

  PassengerId Survived
1 892         0
2 893         1
3 894         0
4 895         0
5 896         1
6 897         0

In [10]:
write.csv(submission, file = 'womensurvive.csv', row.names = F)